[
    {ast_ami,[
	{asterisk,[
	    {"hostname", },
	    {"ip", {}},
	    {"port", 5038},
	    {"user", ""},
	    {"passw", ""}
	 ]}
    ]},
	   


%%Lager
    {lager, [
      {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error_p.log"}, {level, error}]},
        {lager_file_backend, [{file, "console_p.log"}, {level, info}]}
      ]}
    ]}
].
