[
    {ast_ami,[
	{asterisk,[
	    {"hostname", songomemX},
	    {"ip", {192,168,1,100}},
	    {"port", 5038},
	    {"user", "origami"},
	    {"passw", "call887At"}
	 ]}
    ]},
	   


%%Lager
    {lager, [
      {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "Ferror_p.log"}, {level, error}]},
        {lager_file_backend, [{file, "Fconsole_p.log"}, {level, info}]}
      ]}
    ]}
].
